<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- IDCard Bean -->
	<bean id="idCard"
		class="com.capgemini.java_development.java_advance.framework.spring.core.Employee_and_IDCard_System.entity.IDCard">

		<property name="id" value="301" />
		<property name="cardNumber" value="ID7890" />
		<property name="issueDate" value="2024-01-15" />

	</bean>

	<!-- Employee Bean -->
	<bean id="employee"
		class="com.capgemini.java_development.java_advance.framework.spring.core.Employee_and_IDCard_System.entity.Employee">

		<property name="id" value="201" />
		<property name="name" value="Rohan" />
		<property name="department" value="IT" />

		<!-- One-to-One Mapping -->
		<property name="idCard" ref="idCard" />

	</bean>

</beans>